.modal-wrapper {
    opacity: 1;

    &__item {
        display: flex;
        justify-content: space-between;
    }
}

.wrap{

    &-item{
        display: flex;
        justify-content: space-between;
    }
}