@import '../../../styles/veriables';

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrap {
        width: 77.1429px;
        height: 77.1429px;
        animation: 0.6s linear 0s infinite normal forwards running animation-12jek8e;
        position: absolute;
    }

    &-ball {
        width: 8.57143px;
        height: 8.57143px;
        border-radius: 100%;
        background-color: $pink;
        opacity: 1;
        position: absolute;
        top: 25.7143px;
        animation: 0.6s linear 0s infinite normal forwards running animation-12jek8e;
        z-index: 2;
    }

    &-circle {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 8.57143px solid $blue;
        opacity: 0.4;
        box-sizing: content-box;
        position: absolute;
    }

}

@keyframes animation-12jek8e {
    100% {
        transform: rotate(360deg)
    }
}

