.calendar {
    margin-top: 3rem;
    position: relative;
    margin-bottom: 3rem;

    &-wrap {

    }

    &-header {
        margin-top: 1rem;
        padding: 1rem;

        &__wrap {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        &__btn {
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                position: relative;
                top: -2px;
            }
        }

        &__item {
            background-color: red;

            &:hover {
                background-color: transparent;

                & a {
                    text-decoration: none;
                }
            }
        }

    }

    &-main {
        margin-top: 1rem;

        &__line {
            width: 100%;
            height: 2px;
            background-color: #eceff2;
        }

        &__box {
            display: flex;
            flex-wrap: wrap;
        }

        &__elem {
            border: 1px solid #fff;
            flex: 0 0 14%;
            max-width: 14%;
            display: flex;
            outline: none;
            margin: 0.14%;
            border-radius: 10px;
            transition: .5s;
            position: relative;

            & .block-visible {
                position: absolute;
                top: 0;
                opacity: 1;
                bottom: 0;
                right: 0;
                left: 0;
                max-width: 2rem;
                margin: 0 auto;
                top: 50%;
                transform: translateY(-50%);
            }

            &.day-week {
                background-color: white;
                margin: 0 auto;
                display: flex;
                color: #8b8b8b;
                font-size: 1rem;
                justify-content: center;
                padding: 0.5rem;

                &:hover {
                    color: #8b8b8b;
                    background-color: white;
                    border-color: transparent;
                    cursor: auto;
                }
            }

            &.day {
                height: 80px;
                flex-direction: column;
                padding: 10px;
                justify-content: space-between;
                font-weight: bold;
                font-size: 1.1rem;
            }

            &.work-day {
                color: #084298;
                background-color: #cfe2ff;
                border-color: #b6d4fe;
            }

            &.day-off {
                color: #842029;
                background-color: #f8d7da;
                border-color: #f5c2c7;
            }

            &.last-day {
                color: #999;
                background-color: #e2e3e5;
                border-color: #d3d6d8;
            }

            &.holiday {
                & > * {
                    opacity: 0.2;
                }

                & .block-visible {
                    opacity: 1;
                }
            }

            &.day-now {
                color: #664d03;
                background-color: #fff3cd;
                border-color: #ffecb5;
            }

            &:hover {
                color: #055160;
                background-color: #cff4fc;
                border-color: #b6effb;
                cursor: pointer;
            }
        }

        &__cell {

        }

    }
}

.day {
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-hours {
        margin: 0;
        text-align: right;
    }
}

.dropdown-menu.show {
    transform: translate(-15px, 50px) !important;
}